$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Alegreya', 'Georgia', Cambria, 'Times New Roman', Times, serif;
$border-color: #F3F3F3;

$column: 40px; 
$gutter: 44px; 
$grid-columns: 12; 
$max-width: em(1140);