.embed-responsive {
  display: block;
  height: 0;
  padding: 0;  
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
  margin-bottom: 30px;
}
.video-player {
  max-width: 640px;
  position: relative;
}
.video-player__btn {color: #fff; font-size: 72px; left: 50%; margin: -33px 0 0 -44px; position: absolute;  text-shadow: 0 1px 1px darken(#74C5E0, 10%); top: 50%;}
