---
layout: default
---


<h1>Articles by tag {{ page.title }}</h1>

<div class="text-justify">
  {% if site.tags[page.slug] %}
    {% for post in site.tags[page.slug] %}
      
        {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if forloop.first %}
          <h2>{{ post_year }}</h2>
          <ul class="list-unstyled">
        {% endif %}  

      
      
      {% unless forloop.first %}
        {% assign previous_index = forloop.index0 | minus: 1 %}
        {% capture previous_post_year %}{{ site.tags[page.slug][previous_index].date | date: '%Y' }}{% endcapture %}
        {% if post_year != previous_post_year %}
          </ul>
          <h3>{{ post_year }}</h3>
          <ul class="list-unstyled">
        {% endif %}
      {% endunless %}
      <li><a href="{{ post.url }}">
          {{ post.title }}
          </a>
        </li>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>There are no posts in this tag.</p>
  {% endif %}
</div>