---
layout: default
---

<article role="article" class="post cont">
  <header class="article-header hero-banner">
    <h1><span>Articles by tag &quot;{{ page.title }}&quot;</span></h1>
  </header>

  <section class="content entry-content clearfix" itemprop="articlebody">
    {% if site.tags[page.slug] %} {% for post in site.tags[page.slug] %} {%
    capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %} {% if
    forloop.first %}
    <h2>{{ post_year }}</h2>
    <ul class="list-unstyled">
      {% endif %} {% unless forloop.first %} {% assign previous_index =
      forloop.index0 | minus: 1 %} {% capture previous_post_year %}{{
      site.tags[page.slug][previous_index].date | date: '%Y' }}{% endcapture %}
      {% if post_year != previous_post_year %}
    </ul>
    <h3>{{ post_year }}</h3>
    <ul class="list-unstyled">
      {% endif %} {% endunless %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </li>
      {% if forloop.last %}
    </ul>
    {% endif %} {% endfor %} {% else %}
    <p>There are no posts in this tag.</p>
    {% endif %}
  </section>
</article>
