<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="home page">

		<div id="container">

			<header class="header main-header col-xs-12" role="banner">
			<nav role="navigation" class="">{% include top-nav.html %}</nav>
			</header>

			<div id="content">

				<div id="inner-content" class="wrap clearfix">
					<div id="main" class="col-xs-12 clearfix">{{ content }}</div>
				</div>

			</div>

			<footer class="footer main-footer col-xs-12" role="contentinfo">

				<div id="inner-footer" class="wrap clearfix">

					<nav role="navigation" class="">{% include nav.html %}</nav>

					<p class="source-org copyright">&copy; 2017 - {{ site.description }}</p>

				</div>

			</footer>

		</div>

<script type='text/javascript' src='/js/scripts.js'></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
	</body>

</html>
