<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="page {{ page.currentPage }}">

		<div class="container">

			<aside>
				<span class="nav--icon" id="mobileNavIcon">
					<span id="menuClosed"><i class="fa fa-bars"></i> Menu</span>
					<span id="menuOpen" class="navHidden"><i class="fa fa-caret-down"></i></span>
				</span>
				<nav role="navigation" class="nav nav--top navHidden" id="menuTopNav">{% include top-nav.html %}</nav>
				{% if page.currentPage == 'home' %}
				<p class="page-lead">Hello, I'm a <a href="/music.html">musician</a>, <a href="/web-portfolio.html">web developer / designer</a> and <a href="/stories.html">author</a>.</p>
				{% endif %}
			</aside>

			<main role="main">
				
				{{ content }}
				
			</main>

			<footer class="footer main-footer" role="contentinfo">

				<div id="inner-footer" class="wrap clearfix">

					<nav role="navigation" class="nav nav--bot">{% include nav.html %}</nav>

					<p class="source-org copyright">&copy; {{ 'now' | date: "%Y" }} - {{ site.description }}</p>

				</div>

			</footer>
			
		</div>
		<script src="https://use.fontawesome.com/a2cb717667.js"></script>
		<script type="text/javascript">			
			let navTop = document.getElementById("menuTopNav");
			let navClosedIcon = document.getElementById("menuClosed");
			let navOpenIcon = document.getElementById("menuOpen");			
			document.getElementById('mobileNavIcon').onclick = function(){
			      document.body.classList.toggle("showMenu");      
			      navTop.classList.toggle("navHidden");
			      navClosedIcon.classList.toggle("navHidden");
			      navOpenIcon.classList.toggle("navHidden");
			}			
		</script>
		
	</body>

</html>
