---
layout: default
---
<article role="article" class="post">

  <header class="article-header">
    <h1>{{ page.title }}</h1>
  </header>

  <section class="entry-content clearfix" itemprop="articlebody">
    {{ content }}

    <div class="glossary_list">
<a href="/glossary/glossary_Browser-Compatibility.html">Browser Compatibility</a><a href="/glossary/glossary_CMS.html">CMS</a><a href="/glossary/glossary_CSS.html">CSS</a><a href="/glossary/glossary_database.html">database</a><a href="/glossary/glossary_Domain-Name.html">Domain Name</a><a href="/glossary/glossary_Hosting.html">Hosting</a><a href="/glossary/glossary_HTML.html">HTML</a><a href="/glossary/glossary_HTML-Emails.html">HTML Emails</a><a href="/glossary/glossary_Java.html">Java</a><a href="/glossary/glossary_JavaScript.html">JavaScript</a><a href="/glossary/glossary_PHP.html">PHP</a><a href="/glossary/glossary_Rewrite-Rules.html">Rewrite Rules</a><a href="/glossary/glossary_Server.html">Server</a><a href="/glossary/glossary_Server-and-Hosting.html">Server and Hosting</a><a href="/glossary/glossary_Standards-Compliant.html">Standards Compliant</a><a href="/glossary/glossary_Usability.html">Usability</a><a href="/glossary/glossary_Web-Browser.html">Web Browser</a></div>
  </section>

</article>

<footer class="article-footer"></footer>

