---
layout: default
---
{% assign post = page %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article-header">
    <h1 itemprop="name headline">{{ page.title }}</h1>   
    {% if site.reading_time %}
        <p class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
          {% include read-time.html %}
        </p><!-- /.entry-reading-time -->
        {% endif %} 
  </header>

  <section class="post-content" itemprop="articleBody">
    {{ content }}
  </section>
  
  {% if post.tags.size > 0 %}
    {% capture tags_content %}<i class="fa fa-tag{% if post.tags.size > 1 %}s{% endif %}"></i>: {% endcapture %}
    {% for post_tag in post.tags %}
      {% assign tag = site.my_tags | where: "slug", post_tag %}
      {% if tag %}
        {% assign tag = tag[0] %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <footer class="post-footer">
    <p id="post-meta">{{ tags_content }}</p>
  </footer>
  
</article>

<ul class="nav nav-pills nav-justified">
  {% if page.previous.url %}
    <li><a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></li>
  {% endif %}
</ul>



