---
layout: default
---
{% assign post = page %}

<article class="post cont" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article-header hero-banner">
    
    <h1 itemprop="name headline">{{ page.title }}</h1>
    
    {% if site.reading_time %}
        <p class="entry-reading-time">
          <svg width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1024 544v448q0 14-9 23t-23 9h-320q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h224v-352q0-14 9-23t23-9h64q14 0 23 9t9 23zm416 352q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>          
          {% include read-time.html %}
        </p><!-- /.entry-reading-time -->
        {% endif %} 
  </header>

  <section class="content post-content" itemprop="articleBody">
    {{ content }}
  </section>
  
  {% if post.tags.size > 0 %}
    {% capture tags_content %}
    {% if post.tags.size > 1 %}
    <svg width="17" height="16" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M512 448q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm1067 576q0 53-37 90l-491 492q-39 37-91 37-53 0-90-37l-715-716q-38-37-64.5-101t-26.5-117v-416q0-52 38-90t90-38h416q53 0 117 26.5t102 64.5l715 714q37 39 37 91zm384 0q0 53-37 90l-491 492q-39 37-91 37-36 0-59-14t-53-45l470-470q37-37 37-90 0-52-37-91l-715-714q-38-38-102-64.5t-117-26.5h224q53 0 117 26.5t102 64.5l715 714q37 39 37 91z"/></svg>
    {% else %}
    <svg width="17" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M576 448q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm1067 576q0 53-37 90l-491 492q-39 37-91 37-53 0-90-37l-715-716q-38-37-64.5-101t-26.5-117v-416q0-52 38-90t90-38h416q53 0 117 26.5t102 64.5l715 714q37 39 37 91z"/></svg>
    {% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
      {% assign tag = site.my_tags | where: "slug", post_tag %}
      {% if tag %}
        {% assign tag = tag[0] %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <footer class="footer footer--post">
    <p class="footer__meta">{{ tags_content }}</p>
    <ul class="nav nav-pills nav-justified list-unstyled">
      {% if page.previous.url %}
        <li><a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></li>
      {% endif %}
      {% if page.next.url %}
        <li><a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></li>
      {% endif %}
    </ul>
  </footer>
  
</article>





